# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.EntitiesOfPeople.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\workspace\personal\IpcaCovidTracker\IpcaCovidTracker\EntitiesOfPeople\.idea\.idea.EntitiesOfPeople.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
